<% provide :title, t("title.home") %>
<div class="center jumbotron">
  <h1> <%= t "title.welcome" %> </h1>
  <h2>
    <%= t "the_book_help_rubyOnrails.title_home" %>
  </h2>
  <%= link_to t("users.user_new"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag(Settings.image.link_1, class: "imageRails"), Settings.image.link_2 %>
