<footer class="footer">
  <small>
    <%= link_to t("book.book_1"), "https://www.railstutorial.org/" %>
    <%= link_to t("book.book_2"), "https://www.railstutorial.org/help" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("title.about"), about_path %></li>
      <li><%= link_to t("title.help"), help_path %></li>
    </ul>
  </nav>
</footer>
